footer {
    background-color: var(--footer-color);
}
.footer__container {
    height: 6rem;
    padding: 1rem;
    display: grid;
    justify-items: center;
    align-items: center;
}
.footer__text {
    font-size: 1.8rem;
}