.survey__card {
    width: 50rem;
    overflow-x: auto;
    display: grid;
    gap: 2rem;
    border-radius: 2rem;
    padding: 1.5rem 2rem;
    background-color: var(--form-color);
    box-shadow: 0rem 0rem 0.6rem 0.03rem rgba(0, 0, 0, 0.4);
}

@media (max-width: 600px) {
    .survey__card{
       max-width: 90%;
    }
}
.card__title{
    font-size: 2.4rem;
    hyphens: auto;
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 0.15rem solid #597ef7;
}
.card__body{
    display: grid;
    gap: 1rem;
}
.body__item {
    display: grid;
    gap: 0.5rem;
    grid-template-rows: repeat(2, auto);
    align-content: center;
    font-size: 1.6rem;
}
.item__label {
    font-weight: 700;
}